.main-content {
  flex: 1;
  margin-left: 280px;
  padding: 20px;
  background: #f4f4f4;
  overflow-y: auto;
}
/* Content */
.content {
  background: white;
  padding: 10px 20px 20px;
  border-radius: 5px;
}

/* Buttons */
.buttons {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  color: white;
  background: #0099ff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  transition: ease-in-out 0.06s;
}

.blue {
  background: #0099ff;
}
.yellow {
  background: #ffcc00;
}
.orange {
  background: #ff9900;
}
.red {
  background: #ff3333;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: #555;
  color: white;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

/* Phân trang */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.pagination a:hover {
  background-color: #ddd;
}
